/* This css document styles the following two html pages: "https://ymanluk.github.io/index.html" and "https://ymanluk.github.io/mytravels.html"

/* Sets the general style of the body e.g. black color font */
body {
  background-color: #ADD8E6;
  font-family: "Calibri";
  color: black;
  text-align: center;
}

/* Sets the basic style of paragraphs e.g. font size */
p {
	font-size: 18px;
	font-family: "Times New Roman";
	letter-spacing: 1.5px;
	line-height: 1.2;
}

/* Selects p element with class sentences; Declaration set against the p selector, reference from W3Schoools*/
p.sentences {
	font-style: italic;
	text-decoration-line: overline;
	letter-spacing: 1.2px;
}

/* Sets the basic style of lists e.g. no bullet point */
ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: block;
}

/* Selects the h1 element with ID named topic to style e.g. a navy color */
h1#topic {
  color: navy;
  display: block;
  white-space: pre-line;
  line-height: 2;
  font-family: "Times New Roman";
  font-weight: 1000;
  font-size: 3em;
}

/* Sets the style of h2 e.g.  */
h2 {
	color: darkblue;
	letter-spacing: 1.5px;
	line-height: 5;
	font-size: 1.8em;
	font-weight: 800;
}

/* Selects the div element with class maintext and allows the main text to display as a block element */
#maintext {
	display: block;
}

/* Sets the general specifications of images on the index page e.g. rounded corners with border-radius */
.indexphoto {
	border-radius: 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* Setting native resolution for photos on index.html */
#sharingpic {
	width: 500px;
	height: 375px;
}
#farmingpic {
	width: 360px;
	height: 480px;
}
#growingpic {
	width: 375px;
	height: 500px;
}

/* Same as above */
.travelphoto {
	width: 500px;
	height: 375px;
	border-radius: 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* Add line spacing between MenuOption and main body; reference: W3docs*/
h1::before {
	content:"\A";
	white-space: pre;
}

/* MenuOption Begin */
/* With reference to W3Schools tutorial https://www.w3schools.com/Css/css_navbar.asp*/
/* A simplistic and intuitive design*/

/* Sets the alignment and style of the list of the menu */
li.menu {
	float: left;
	border-right: 1px solid black;
	
}

/* Removes the border on the right of the menu bar */
li.menu:last-child {
	border-right: none;
}

/* Sets the style of the menu bar */
a.menu {
	display: block;
	padding: 8px;
	color: black;
	text-decoration: none;
	font-size: 16px;
}

/* Removes the underline of the link */
a:visited {
	text-decoration: none;
}

/* Show a gray background color when hovering around the link */
a.menu:hover {
	background-color: gray;
}

/* MenuOption End */



/* LinksOption Begin */
/* Inspiration for line-height: setting line height to allow good spacing to show the links; source: https://stackoverflow.com/questions/16555644/how-can-i-make-a-link-inside-a-div-fill-the-entire-space-inside-the-div*/
/* underline when hovering: From W3Schools */
/* Sets the format of the link e.g. a green color */
.link { line-height: 4; 
		color: green;
		text-decoration: none;
}

/* Shows underlined effect when hovering around the link; source: W3Schools */
a.link:hover {text-decoration: underline;
}

/* LinksOption End */
